{% extends 'base.html' %}

{% block title %}Busque sua receita{% endblock %}

{% block body %}
<div class="container">
  <form method="get" action="." class="form-inline">
    <div class="page-header">
      <h1>Busque sua receita</h1>
    </div>
    <input type="text" class="form-control input-lg" name="q" style="width:50%;">
    <button class="btn btn-primary btn-lg" type="submit" value="Buscar">Buscar</button>
  </form>
  <hr>
  
  <div class="row">
    {% for recipe in result.hits.hits %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ recipe._source.image }}" alt="{{ recipe._source.name }}">
        <div class="caption">
          <p><strong>{{ recipe._source.name }}</strong></p>
          <p><a href="{{ recipe._source.url }}" class="btn btn-primary" role="button" target="_blank">Link</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>
{% endblock %}